@inherits LayoutComponentBase
@using GenerateurDOE.Models


<PageTitle>GenerateurDOE</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="app-title">GenerateurDOE pour @appSettings.NomSociete - @appSettings.ApplicationVersion</span>            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private AppSettings appSettings = new();
}