<div class="top-row ps-3 navbar navbar-dark" >
    <div class="container-fluid">
        <img src="android-chrome-512x512.png" alt="Logo" width="30" height="30" class="me-2"/>
        <a class="navbar-brand" href="">GenerateurDOE</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Accueil
            </NavLink>
        </div>       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chantiers">
                <span class="oi oi-wrench" aria-hidden="true"></span> Chantiers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fiches-techniques">
                <span class="oi oi-document" aria-hidden="true"></span> Fiches Techniques
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sections-libres">
                <span class="oi oi-list" aria-hidden="true"></span> Sections Libres
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="configuration">
                <span class="oi oi-cog" aria-hidden="true"></span> Configuration
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
